<h2><%= @project.name %>'s Tickets</h2>
<div id="ticket">
   <h2>
     <%= @ticket.title %>
  </h2>
  <div id="author">
    created by <%= @ticket.user.email %>
  </div>
  <%= @ticket.description %>
  <% if @ticket.assets.present?  %>
    <h3>Attachements</h3>
    <div class="assets">
      <% @ticket.assets.each do |asset| %>
      <p>
        <%= link_to File.basename(asset.asset.path), asset.asset.url %>
      </p>
      <p>
        <%= asset.asset.size %>
      </p>
      <% end %>
    </div>
  <% end %>
</div>

<% authorized?("edit ticket", @project) do %>
  <%= link_to "Edit Ticket", [:edit, @project, @ticket] %>
<% end %>
<% authorized?("delete ticket", @project) do %>
  <%= link_to "Delete Ticket", [@project, @ticket], method: :delete %>
<% end %>
<%= link_to "back", @project %>
