<h2><%= @project.name %>'s Tickets</h2>
<div id="ticket">
   <h2>
     <%= @ticket.title %>
  </h2>
</div>
<%= @ticket.description %>

<%= link_to "Edit Ticket", [:edit, @project, @ticket] %>
<%= link_to "Delete Ticket", [@project, @ticket], method: :delete %>
<%= link_to "back", @project %>
