<h2><%= @project.name %>'s Tickets</h2>
<div id="ticket">
   <h2>
     <%= @ticket.title %>
  </h2>
  <div id="author">
    created by <%= @ticket.user.email %>
  </div>
  <%= @ticket.description %>
  <% if @ticket.asset.present?  %>
    <h3>Attachement</h3>
    <div class="asset">
      <p>
        <%= link_to File.basename(@ticket.asset.path), @ticket.asset.url %>
      </p>
      <p>
        <%= @ticket.asset.size %>
      </p>
    </div>
  <% end %>
</div>

<% authorized?("edit ticket", @project) do %>
  <%= link_to "Edit Ticket", [:edit, @project, @ticket] %>
<% end %>
<% authorized?("delete ticket", @project) do %>
  <%= link_to "Delete Ticket", [@project, @ticket], method: :delete %>
<% end %>
<%= link_to "back", @project %>
