<div id='header'>
   <%= link_to "注册", new_user_path %>
   <%= link_to "登录", new_session_path %>
</div>


<h1>Listing Projects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= link_to project.name, project %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% admin_only do %>
  <%= link_to 'New Project', new_project_path %>
  <%= link_to 'Admin', admin_root_path %>
<% end %>
