<% title(@project.name, "Projects") %>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<%= link_to 'Edit Project', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<%= link_to "New Ticket", new_project_ticket_path(@project, @ticket) %>

<h2>Tickets</h2>
<ul>
  <% @project.tickets.each do |t| %>
    <li><%= link_to t.title, [@project, t] %></li>
  <% end %>
</ul>
